<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header class="mainheader">
        <h1>TITULO PRINCIPAL</h1>
    </header>
    <main><%- body %></main>
    <footer class="globalfooter">
        <p>Pie de pagina</p>
    </footer>
    
</body>
</html>